* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #3498DB;
  padding: 1px 120px;
}
.container {
	background-color: #F2F2F2;
	padding: 1px 120px;
}
.topContainer {
	padding: 0px 120px;
	background-color: #3498DB;

}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
   
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 15px;
  
}

.header a:hover {
  
 
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px; /* Should be removed. Only for demonstration */
}
.columnTopContainer {
  float: left;
  width: 50.00%; /* Should be removed. Only for demonstration */
  padding-top:80px; 

}
#make-your-landing-page-section{
  margin-top: 150px;
}
#make-your-landing-page-text{
  color: white;
  font-size: 40px;
  opacity: 0.7;
}
.section-container{
  margin-top: 60px;
  margin-bottom: 60px;
  }  
#section-title{
  text-align: center;
  font-size: 40px;
  font-family: calibri Light;
  color: #3F3F3F;
  margin-top: 50px;
}
#section-desc{
  text-align: center;
  font-size: 22px;
  font-family: calibri Light;
  color: #99A8A9;
  font-weight: bold;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sec-1-image{
  text-align: center;

}
.sec-1-image-title{
  text-align: center;
}
.sec-1-image-title-para{
  color: #A4B1B2;
  font-size: 18px

}
.sec-1-image-desc{
  text-align: center;
  color: #A2A2A2;
  font-size: 15px;
  line-height: 1.6;

}
.our-team-image-container{
  text-align: center;

}
.our-team-image{
  border-radius: 50%;

}
.our-team-name-container{
  text-align: center;

}
.our-team-name{
  color: #A4B1B2;
  font-size: 18px

}
.our-team-info{
  text-align: center;
  color: #A2A2A2;
  font-size: 15px;
  line-height: 1.6;

}
.our-team-social-link-image-container{
  text-align: center;
   padding:20px;
}
.our-team-social-link-image{
  margin: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  opacity: 0.5;
  font-size: 14px;
  color: white;
}
input[type=text].inviteMeInput{
	
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 175px;

}
input[type=text].inviteMeInput::placeholder {
  color: #BBBBBB;
  opacity: 0.6; /* Firefox */
  font-size: 15px;

}

input[type=text].inviteMeInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #BBBBBB;
 font-size: 15px;
}

input[type=text].inviteMeInput::-ms-input-placeholder { /* Microsoft Edge */
 color: #BBBBBB;
 font-size: 15px;
}

input[type=submit].inviteMeButton{
background-color: #F0AD4E;
  color: white;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;	
}

::placeholder {
  color: #BBBBBB;
  opacity: 1; /* Firefox */

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #BBBBBB;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #BBBBBB;
}
.contact-us-container{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;"
}
.contact-us-heading{
  font-size: 30px;
  color: #3F3F3F;
  opacity: 0.7

}
input[type=text], select{
	width:60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-color: #E0E0E0
}
textarea{
 width:60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-color: #E0E0E0;
  height: 200px; 
}

input[type=submit] {
  background-color: #F0AD4E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input-email-addrr{
  text-align: center;  
}

hr{
	 border-top: 2px solid #E0E0E0;
   margin-top: 0px;
}
.topContainerImage{
  	width: 500px;
  	height: 500px;
  }
  .mobile-image-container{
    text-align: center;
    padding-top: 10px;
  }
  .mobileImage{
  	width:300px;
  	 height:300px;
  }
@media screen and (max-width: 700px) {
  .header  {
    padding: 1px 50px;
  }
  .column {
    width: 100%;
  }
  .columnTopContainer {
    width: 100%;
  }
  .topContainer{
    padding: 1px 50px;	
  }
  .topContainerImage{
  	width: 100%;
  }
  .mobileImage{
  	width:100%;
  	height: 100%;
  }
  input[type=text], select, textarea {
	width:100%;
  
}

input[type=submit] {
  width: 100%;
}

  
  
}